<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Students' Bookshop</title>
     <link rel="stylesheet" type = "text/css"
		href = "../style.css"/>
          
  </head>
  <body>
     <table class="centered" width="90%">
        <tr>
           <td class="red" colspan="2">
              <h2>Students' Bookshop</h2>
              
           </td>
        </tr>
        <tr>
           <td class="red" width="11%" valign="top">
	       </td>
           <td>
              <table class="noSpace" rules="rows" width="100%">
                 <tr class="green">
                     <td>Schools<form> <input type="text" name="searchSchools" size="10"> </input><input type="submit" value="search"></input></form></td>  
                     <td>Courses <form> <input type="text" name="searchCourses" size="10"> </input><input type="submit" value="search"></input></form></td>  
                     <td>Books <form> <input type="text" name="searchBooks" size="10"> </input><input type="submit" value="search"></input></form></td>  
                 </tr>
                 <tr class="mare">
                     <td colspan="3">&nbsp;</td>
                 </tr>
              </table>
           </td>
        </tr>
      </table>
      <p class="rig">February 2008, Claudia Grigore</p>
  </body>
</html>
